In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('E:\Git_Files\Data\Stock_Movement.csv')
df.head()

         Date  Movement
0  2023-09-01         0
1  2023-09-05         0
2  2023-09-06         0
3  2023-09-07         1
4  2023-09-08         1

In [3]:
#baseline_model

df['predicted_movement'] = df['Movement'].shift(1)

In [4]:
df

           Date  Movement  predicted_movement
0    2023-09-01         0                 NaN
1    2023-09-05         0                 0.0
2    2023-09-06         0                 0.0
3    2023-09-07         1                 0.0
4    2023-09-08         1                 1.0
..          ...       ...                 ...
264  2024-09-20         1                 1.0
265  2024-09-23         1                 1.0
266  2024-09-24         1                 1.0
267  2024-09-25         1                 1.0
268  2024-09-26         0                 1.0

[269 rows x 3 columns]

In [5]:
#accuracy

accuracy = (df['Movement'] == df['predicted_movement']).mean()
print(f'Accuracy: {accuracy}')

Accuracy: 0.5353159851301115